body {
    direction:rtl;
    margin: 0;
    font-family: sans-serif;
    background-color: #e3eccc !important; /* پس‌زمینه روشن */
    color: #1b2d2d; /* رنگ متن */
}

.navbar {
    background-color: #574c4c;
    color: white;
    padding: 15px;
    top: 0;
    width: 100%;
    z-index: 1000;
    position: fixed !important;
}

.navbar a {
    color: rgb(90, 241, 9);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    position: relative;
    text-decoration: none !important;
}

.navbar a:hover {
    background-color: #575757;
    color: yellow;
}

.dropdown {
    display: inline-block;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #584444;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    padding: 60px 20px; /* فضای اضافی برای ناوبار ثابت */
}

.dynamic-content {
    background-color: white; /* پس‌زمینه سفید */
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ----------------------  About us  ----------------------------- */
.about{
    margin-right: 22% !important;
    margin-top: 8% !important;
    width:55%;
    max-width:100%;
    height: auto !important;
    background-color:#727070;
    margin-right:35px;
    margin-top:30px;
    padding: 12px 25px 50px  25px;
    border: 3px #595b55 solid !important;
    border-radius: 12px;
}

.about h5:hover{
    cursor: pointer;
}


.message-box{
    width: 60%;
    margin-right:20%;
    margin-top: 7%;
    padding-top: 10px;
}


.img-box{
    width:80%;
    max-width:100%;
    display:flex;
    justify-content:center;
    margin:10% 10% auto 10%;
}
/* ---------------------------------------------------------- */

.container {
    width: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* فاصله بین کادرها */
}

.text {
    transition: color 0.5s ease; /* Smooth transition for color change */
}


.h5-text{
    text-align:center;
    color:white;
    background-color:black;
    margin:5px;
    padding:10px;
}

.a-text{
    text-decoration:none;
    border: 1px solid rgb(197, 177, 177);
    border-radius: 3px;
    color:white;
    padding: 3px;
    margin: 2px 3px;

}

.about a:hover{
    /* background-color: #534644 !important; */
    background-color: #665f5f !important;
    text-decoration:none;
    color:#cbf709;
}



.api_key-class{
    font-family: sans-serif !important;
    text-align: center;
    color: white;
    background-color: #413232;
    /* margin: 5px; */
    padding: 10px;
}

.c-a{
    width: 100%;
    height: 100%;
}



.btn-class{
    display: inline-block;
    background-color: #8e7b7b;
    color: #fcf7f7;
    padding: 5px 10px;
    border: 1px solid rgb(110, 93, 93);
    border-radius: 5px;
    margin: 5px;
}

.about input:hover{
    background-color: #333 !important;
    color:#cbf709;
}



/* --------------  footer style ----------------- */

.footer {
    direction: ltr !important;
    background-color: #555;
    color: white;
    bottom:  0;
    display: flex;
    justify-content: space-between; /* فاصله بین آیتم‌ها */
    padding: 15px 20px; /* padding برای ایجاد فضای بیشتر */
    width: 100%;
    position: relative;
    /* margin-right: 8%; */
    margin: auto !important;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline;
    margin: 0 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 24px; /* اندازه آیکون‌ها */
}

.social-icons a:hover {
    color: #cbf709; /* رنگ تغییر یافته در هاور */
}

.footer-right {
    align-self: center; /* مرکز کردن متن */
}

/* -------------------------------------------------------- */


.highlight {
    transition: color 0.5s ease, background-color 0.5s ease;
}
.dim {
    color: rgb(188, 164, 164); /* رنگ متن 50% کم می‌شود */
   /* background-color: rgba(255, 255, 255, 0.5);  رنگ زمینه 50% کم می‌شود */
}